/* Coolors Exported Palette - https://coolors.co/1f1f1f-19294d-fdb035-e5e5e5-f5f5f5 */

/* SCSS HEX */
$eerie-black: #1f1f1fff;
$input: #161616;
$form: #0e0e0e;
$footer: #000000;
$space-cadet: #19294dff;
$bright-yellow-crayola: #fdb035ff;
$card-button: rgb(105, 105, 105);
$bright-yellow-crayola-hover: #ffae00;
$platinum: #e5e5e5ff;
$cultured: #f5f5f5ff;
